<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trailsintheskythestorysguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".char_zin"
            android:label="Zin Vathek"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_walter"
            android:label="Walter"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_tita"
            android:label="Tita Russell"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_teresa"
            android:label="Teresa"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_scherazard"
            android:label="Scherazard Harvey"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_rufina"
            android:label="Rufina Argent"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_ries"
            android:label="Ries Argent"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_renne"
            android:label="Renne Bright"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_philip"
            android:label="Philip Renard"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_olivier"
            android:label="Olivier Lenheim / Olivert Reise Arnor"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_murdoch"
            android:label="Murdoch"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_mueller"
            android:label="Mueller Vander"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_morris"
            android:label="Morris Dalmore"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_morgan"
            android:label="Morgan"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_maybelle"
            android:label="Maybelle"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_lugran"
            android:label="Lugran"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_luciola"
            android:label="Luciola"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_lila"
            android:label="Lila"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_leonhardt"
            android:label="Leonhardt / Loewe / Lorence Belgar"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_lechter"
            android:label="Lechter Arundel"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_kyle"
            android:label="Kyle Capua"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_kurt"
            android:label="Kurt Nardin"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_klaus"
            android:label="Klaus"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_klaudia"
            android:label="Klaudia von Auslese"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_kilika"
            android:label="Kilika Rouran"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_kevin"
            android:label="Kevin Graham"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_karna"
            android:label="Karna"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_kanone"
            android:label="Kanone Amalthea"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_julia"
            android:label="Julia Schwarz"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_joshua"
            android:label="Joshua Bright"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_josette"
            android:label="Josette Capua"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_jean"
            android:label="Jean"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_hilda"
            android:label="Hilda"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_gustav"
            android:label="Gustav"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_grant"
            android:label="Grant"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_giliath"
            android:label="Giliath Osborne"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_gilbert"
            android:label="Gilbert Stein"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_estelle"
            android:label="Estelle Bright"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_elnan"
            android:label="Elnan"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_dunan"
            android:label="Dunan von Auslese"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_don"
            android:label="Don Capua"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_alba_weissmann"
            android:label="Alba / George Weissmann"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_raven_trio"
            android:label="Din, Lace, Rocco"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_colins"
            android:label="Colins"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_celeste"
            android:label="Celeste D. Auslese"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_cassius"
            android:label="Cassius Bright"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_campanella"
            android:label="Campanella"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_bleublanc"
            android:label="Bleublanc"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_anelace"
            android:label="Anelace Elfead"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_alicia"
            android:label="Alicia von Auslese"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_albert"
            android:label="Albert Russell"
            android:parentActivityName=".character_activity" />
        <activity android:name=".char_alan"
            android:label="Alan Richard"
            android:parentActivityName=".character_activity" />
        <activity
            android:name=".char_agate"
            android:label="Agate Crosner"
            android:parentActivityName=".character_activity" />
        <activity
            android:name=".location_hamel"
            android:label="Hamel Village"
            android:parentActivityName=".country_activity" />
        <activity
            android:name=".zcf"
            android:label="Zeiss Central Factory"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".epstein_foundation"
            android:label="Epstein Foundation"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".intelligence_division_liberl"
            android:label="Intelligence Division of Liberl"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".red_onstellation"
            android:label="Red Constellation"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".gralsritter"
            android:label="Gralsritter"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".septian_church"
            android:label="Septian Church"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".ouroboros"
            android:label="Ouroboros"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".bracer_guild"
            android:label="Bracer Guild"
            android:parentActivityName=".organization_activity" />
        <activity
            android:name=".title_activity"
            android:label="Titles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".character_activity"
            android:label="Characters"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".country_activity"
            android:label="Locations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".timeline"
            android:label="Timeline"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".organization_activity"
            android:label="Organizations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".video_acitivity"
            android:label="Video"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".country_crossbell"
            android:label="Crossbell State"
            android:parentActivityName=".country_activity" />
        <activity
            android:name=".country_erebonia"
            android:label="Erebonia Empire"
            android:parentActivityName=".country_activity" />
        <activity
            android:name=".country_calvard"
            android:label="Republic of Calvard"
            android:parentActivityName=".country_activity" />
        <activity
            android:name=".country_liberl"
            android:label="Liberl"
            android:parentActivityName=".country_activity" />
        <activity
            android:name=".title_3rd_page"
            android:label="Trails in the Sky: The 3rd"
            android:parentActivityName=".title_activity" />
        <activity
            android:name=".title_sc_page"
            android:label="Trails in the Sky: SC"
            android:parentActivityName=".title_activity" />
        <activity
            android:name=".title_fc_page"
            android:label="Trails in the Sky: FC"
            android:parentActivityName=".title_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>